BasedOnStyle: Google
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  AfterClass: true
  AfterStruct: true
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
ColumnLimit: 120
AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveBitFields: Consecutive
